<!-- <header>
    <h1>{{ label }}</h1>
</header>
<div butterbar>Loading...</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
        	<div ng-if="1 == role">
        		<span ng-bind="username"></span>: Admin
        	</div>
        	<div ng-if="0 == role">
        		<span ng-bind="username"></span>: Researcher
        	</div>
            <div id="focus">
            	<a href="#/nodes/new">New Node</a>
            </div>
            <div>
            	<a href="#/nodes/index">Nodes List</a>
            </div>

            <div>
            	<a href="#/logout">Logout</a>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12">
        <h1 ng-bind="title"></h1>
        <ol class="breadcrumb">
            <li ng-repeat="link in links">
                <span ng-if="link.is_active" class="active">{{ link.label }}</span>
                <a ng-if="!link.is_active" href="{{ link.url }}">{{ link.label }}</a>
            </li>
        </ol>
    </div>
</div>