<div nav-bar></div>
<div class="container">
	<div breadcrumb title="Node List" links="links"></div> 
    <div class="row-fluid">
        <div class="col-md-12">
			<h3>Node List</h3>
			<uib-tabset type="pills">
			    <uib-tab heading="All" classes="btn-sm" select="tabChange('all')">
			    	<ul class="nodes">
					    <li ng-repeat="node in nodes.results">
					        <div>
					        	<a href="#/nodes/view/{{node.id}}">{{node.label}}</a>
					        	<span class="label {{ node.is_public ? 'label-default' : 'label-primary' }}">
                                    {{ node.is_public ? "public" : "private" }}
                                </span>
					        </div>
					    </li>
					</ul>
					<strong ng-show="nodes.results.length == 0">No Data</strong>
			    </uib-tab>
			    <uib-tab heading="Public" classes="btn-sm" select="tabChange('public')">
			    	<ul class="nodes">
					    <li ng-repeat="node in nodes.results">
					        <div><a href="#/nodes/view/{{node.id}}">{{node.label}}</a></div>
					    </li>
					</ul>
					<strong ng-show="nodes.results.length == 0">No Data</strong>
			    </uib-tab>
			    <uib-tab heading="Private" classes="btn-sm" select="tabChange('private')">
			    	<ul class="nodes">
					    <li ng-repeat="node in nodes.results">
					        <div><a href="#/nodes/view/{{node.id}}">{{node.label}}</a></div>
					    </li>
					</ul>
					<strong ng-show="nodes.results.length == 0">No Data</strong>
			    </uib-tab>
			    <uib-tab heading="Global" classes="btn-sm" select="tabChange('global')">
			    	<ul class="nodes">
					    <li ng-repeat="node in nodes.results">
					        <div><a href="#/nodes/view/{{node.id}}">{{node.label}}</a></div>
					    </li>
					</ul>
					<strong ng-show="nodes.results.length == 0">No Data</strong>
			    </uib-tab>
			</uib-tabset>
			<div class="alert alert-info" role="alert">
				New node: <a href="#/nodes/new" class="btn btn-primary">Link</a>
			</div>
			<h3>Subscriptions</h3>
			<div class="alert alert-info" role="alert">
				All subscriptions from any nodes and sensors:
				<a href="#/subscriptions/index" class="btn btn-primary">
				 	Link
				</a>
			</div>
        </div>
    </div>
</div>