<div nav-bar></div> 
<div class="container">
    <div breadcrumb title="{{ is_new ? 'New Node' : 'Edit Node' }}" links="links"></div>
    <div class="row-fluid">
        <div class="col-md-6">
            <ul ng-repeat="error in errors">
                <li style="color: red">{{ error.field}} -> {{ error.message }}</li>
            </ul>
            <form name="nodeForm" ng-submit="save()" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="label">Label:</label>
                    <input ng-model="node.label" class="form-control" id="label" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="secretkey">Secretkey:</label>
                    <input ng-model="node.secretkey" class="form-control" id="secretkey" type="text" required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="subsperday">Subsperday:</label>
                    <input type="checkbox" ng-model="unlimited" ng-change="limitchange()"> Unlimited
                    <input type="number" min="-1" ng-model="node.subsperday" class="form-control" id="subsperday" 
                        ng-show="!unlimited" required>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary">Save</button>
                    <button type="button" confirm-modal="delete()" rel="Are you sure to delete"
                        object="Node" objectlabel="node.label" url="node.url" 
                        redirecturl="/nodes/index" ng-show="node.id"class="btn">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>